이기적카페 실기 1유형 1주차 예상문제

1. 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [5]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.tail()

                     time  이화동강수  이화동기온  수영동강수  수영동기온
8779  2020-12-31 19:00:00    0.0   -9.5    0.0   -4.5
8780  2020-12-31 20:00:00    0.0   -9.5    0.0   -5.0
8781  2020-12-31 21:00:00    0.0   -9.3    0.0   -6.5
8782  2020-12-31 22:00:00    0.0   -9.2    0.0   -4.6
8783  2020-12-31 23:00:00    0.0   -7.8    0.0   -0.2

In [53]:
# 6,7,8월 데이터 추출 
df.isnull().sum()
df['time'] = pd.to_datetime(df['time'])
summer = df[df['time'].dt.month.isin([6,7,8])]

                    time  이화동강수      이화동기온  수영동강수      수영동기온
3648 2020-06-01 00:00:00    0.0  21.100000    0.0  24.799999
3649 2020-06-01 01:00:00    0.0  22.400000    0.0  23.500000
3650 2020-06-01 02:00:00    0.0  23.100000    0.0  23.100000
3651 2020-06-01 03:00:00    0.0  23.100000    0.0  25.400000
3652 2020-06-01 04:00:00    0.0  23.799999    0.0  24.500000
...                  ...    ...        ...    ...        ...
5851 2020-08-31 19:00:00    0.0  24.299999    0.0  24.100000
5852 2020-08-31 20:00:00    0.0  23.900000    0.0  24.200001
5853 2020-08-31 21:00:00    0.0  24.000000    0.0  24.600000
5854 2020-08-31 22:00:00    0.0  24.600000    0.0  24.900000
5855 2020-08-31 23:00:00    0.0  25.000000    0.0  26.900000

[2208 rows x 5 columns]

In [64]:
# 이화동기온 > 수영동기온 행 개수
answer = summer[summer['이화동기온'] > summer['수영동기온']]
print(len(answer))

1415

2. 이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [96]:
answer1= df[df['이화동강수']==df['이화동강수'].max()]['time'].values
answer2= df[df['수영동강수']==df['수영동강수'].max()].time.values
print(answer1)
print(answer2)

['2020-09-30T09:00:00.000000000']
['2020-07-23T12:00:00.000000000']

#### 작업 1 - 2

1.  남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?

In [26]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head(3)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0

In [116]:
# Gender 국가(Geography)별 남성 이탈 수 추출
male = df[df['Gender']=='Male']
male.groupby(['Geography']).sum().Exited
male.groupby(['Geography']).sum()

KeyError: 'Gender'

In [197]:
df[df['Gender']=='Male'].groupby(['Geography']).sum().Exited

Geography
France     285
Germany    287
Spain      137
Name: Exited, dtype: int64

2. 카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균나이는?

In [170]:
answer = df.loc[(df.HasCrCard==1) & (df.IsActiveMember ==1)].Age.mean()
print(answer)

39.61019283746556

Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 구하여라

In [190]:
ans = df.loc[df['Balance'] >= df['Balance'].median()].CreditScore.std()
print(ans)

97.29451567120793

#### 2주차 -1

In [148]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44553 entries, 0 to 44552
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   성별코드         44553 non-null  object
 1   연령대코드(5세단위)  44553 non-null  int64
 2   신장(5Cm단위)    44553 non-null  int64
 3   체중(5Kg단위)    44553 non-null  int64
 4   허리둘레         44553 non-null  float64
 5   시력(좌)        44553 non-null  float64
 6   시력(우)        44553 non-null  float64
 7   청력(좌)        44553 non-null  float64
 8   청력(우)        44553 non-null  float64
 9   수축기혈압        44553 non-null  float64
 10  이완기혈압        44553 non-null  float64
 11  식전혈당(공복혈당)   44553 non-null  float64
 12  총콜레스테롤       44553 non-null  float64
 13  트리글리세라이드     44553 non-null  float64
 14  HDL콜레스테롤     44553 non-null  float64
 15  LDL콜레스테롤     44553 non-null  float64
 16  혈색소          44553 non-null  float64
 17  요단백          44553 non-null  float64
 18  혈청크레아티닌      44553 non-null  float64
 19  (혈청지오티)AST   44553 non-null  float64
 20  (혈청지오티)ALT   44553 non-null  float64
 21  감마지티피        44553 non-null  float64
 22  흡연상태         44553 non-null  int64
 23  구강검진수검여부     44553 non-null  object
 24  치아우식증유무      44553 non-null  float64
 25  치석           44553 non-null  object
dtypes: float64(19), int64(4), object(3)
memory usage: 8.8+ MB

1. 시력(좌) 와 시력(우)의 값이 같은 남성의 허리둘레의 평균은?

In [ ]:
#df.loc[(df['시력(좌)']==df['시력(우)']) & ([df['성별코드']=='M'])]['허리둘레'].mean()

2. 40대(연령대코드 40,45) 여성 중 '총콜레스테롤'값이 40대 여성의 '총콜레스테롤' 

중간값 이상을  가지는 그룹과

50대(연령대코드 50,55) 여성 중 '총콜레스테롤'값이 50대 여성의 '총콜레스테롤' 중간값 이상을 가지는 두 그룹의 '수축기혈압'이 독립성,정규성,등분산성이 만족하는것을 확인했다. 

두 그룹의 '수축기혈압'의 독립표본 t 검증 결과를 통계값, p-value 구분지어 구하여라.

In [14]:
fourty = df.loc[(df['연령대코드(5세단위)'].isin([40,45])) & (df['총콜레스테롤']>=df['총콜레스테롤'].median())]['수축기혈압']
fifty = df.loc[(df['연령대코드(5세단위)'].isin([50,55])) & (df['총콜레스테롤']>=df['총콜레스테롤'].median())]['수축기혈압']

16       118.0
31       127.0
35       128.0
42       126.0
44       103.0
         ...
44495    118.0
44518    180.0
44527    114.0
44531    127.0
44535    110.0
Name: 수축기혈압, Length: 4916, dtype: float64

In [25]:
from scipy.stats import ttest_ind
answer = ttest_ind(fourty, fifty, equal_var=True)
print('통계값:',answer.statistic)
print('pvalue:',answer.pvalue)

통계값: -4.799130153726136
pvalue: 1.609731793814519e-06

1. 수축기혈압과 이완기 혈압기 수치의 차이를 새로운 컬럼('혈압차') 으로 생성하고, 연령대 코드별 각 그룹 중 '혈압차' 의 분산이 5번째로 큰 연령대 코드를 구하여라

In [83]:
df['혈압차'] = (df['수축기혈압']-df['이완기혈압'])
ans = df.groupby(df['연령대코드(5세단위)'])['혈압차'].var().sort_values(ascending=False).iloc[4]
ans

94.38692150648758

In [108]:
ans = pd.DataFrame(df.groupby(df['연령대코드(5세단위)'])['혈압차'].var().sort_values(ascending=False)).index[4]
print(ans)

60

2. 비만도를 나타내는 지표인 WHtR는 허리둘레 / 키로 표현한다. 일반적으로 0.58이상이면 비만으로 분류한다. 데이터중 WHtR 지표상 비만인 인원의 남/여 비율을 구하여라

In [158]:
df['비만'] = df['허리둘레']/df['신장(5Cm단위)']
gender = df[df['비만']>=0.58].성별코드.value_counts()

In [159]:
gender['M']/gender['F']

1.1693877551020408