### 작업형1 예시문제
- 참고 사이트
- https://www.datamanim.com/dataset/03_dataq/main_p1.html
- https://blog.naver.com/statstorm/222364100877
- https://rfriend.tistory.com/tag/sklearn..preprocessing..minmax_scale%28%29

#### 1-1
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 최소최대 척도(Min-Max Scale)로 변환한 후 0.5보다 큰 값을 가지는 레코드 수를 구하시오.

In [29]:
import pandas as pd
df = pd.read_csv('../data/mtcars.csv')
df.head(3)

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1

In [11]:
df['qsec'].describe()

count    32.000000
mean     17.848750
std       1.786943
min      14.500000
25%      16.892500
50%      17.710000
75%      18.900000
max      22.900000
Name: qsec, dtype: float64

In [70]:
# 1. 최소값, 최대값을 구해서 '0~1'로 변환 (array로 안바꾸고)
qsec = df['qsec']
#qsec = df.loc[:,'qsec']
qsec_minmax = (qsec - qsec.min())/(qsec.max() - qsec.min())
Num = len(qsec_minmax[qsec_minmax>0.5])
print('record :', Num)

record : 9

In [17]:
# 최소값, 최대값을 구해서 '0~1'로 변환 (array로 바꿔서)
import numpy as np
X = np.array(df['qsec'])
X

array([16.46, 17.02, 18.61, 19.44, 17.02, 20.22, 15.84, 20.  , 22.9 ,
       18.3 , 18.9 , 17.4 , 17.6 , 18.  , 17.98, 17.82, 17.42, 19.47,
       18.52, 19.9 , 20.01, 16.87, 17.3 , 15.41, 17.05, 18.9 , 16.7 ,
       16.9 , 14.5 , 15.5 , 14.6 , 18.6 ])

In [62]:
X_MinMax = (X - X.min())/(X.max()-X.min())
overNum = len(X_MinMax[X_MinMax > 0.5])
print('record :', overNum)

record : 9

In [79]:
# 2. minmax_scale 사용
from sklearn.preprocessing import minmax_scale
X_MinMax_Scale = minmax_scale(X,axis=0,copy=True) #?
#X_MinMax_Scale
print('record :', len(X_MinMax_Scale[X_MinMax_Scale>=0.5]))

record : 9

#### 1-2
mtcars 데이터셋(mtcars.csv)의 qsec 컬럼을 표준정규분포 데이터 표준화 (standardization) 변환 후 최대, 최소값을 각각 구하시오.

In [95]:
qsec = df['qsec']
mean = qsec.mean()
std = qsec.std()
z = (qsec-mean)/std
z = np.array(z)
#z
Min = z.min()
Max = z.max()
print('Min :',Min, 'Max :',Max)

Min : -1.8740102832334835 Max : 2.826754592962484

#### 1-3
*mtcars 데이터셋(mtcars.csv)의 wt 컬럼의 이상치(IQR 1.5 외부에 존재하는)값들을 outlier 변수에 저장하라

In [97]:
import numpy as np