이기적카페 실기 1유형 1주차 예상문제

1. 여름철(6월,7월,8월) 이화동이 수영동보다 높은 기온을 가진 시간대는 몇개인가?

In [5]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.tail()

                     time  이화동강수  이화동기온  수영동강수  수영동기온
8779  2020-12-31 19:00:00    0.0   -9.5    0.0   -4.5
8780  2020-12-31 20:00:00    0.0   -9.5    0.0   -5.0
8781  2020-12-31 21:00:00    0.0   -9.3    0.0   -6.5
8782  2020-12-31 22:00:00    0.0   -9.2    0.0   -4.6
8783  2020-12-31 23:00:00    0.0   -7.8    0.0   -0.2

In [53]:
# 6,7,8월 데이터 추출 
df.isnull().sum()
df['time'] = pd.to_datetime(df['time'])
summer = df[df['time'].dt.month.isin([6,7,8])]

                    time  이화동강수      이화동기온  수영동강수      수영동기온
3648 2020-06-01 00:00:00    0.0  21.100000    0.0  24.799999
3649 2020-06-01 01:00:00    0.0  22.400000    0.0  23.500000
3650 2020-06-01 02:00:00    0.0  23.100000    0.0  23.100000
3651 2020-06-01 03:00:00    0.0  23.100000    0.0  25.400000
3652 2020-06-01 04:00:00    0.0  23.799999    0.0  24.500000
...                  ...    ...        ...    ...        ...
5851 2020-08-31 19:00:00    0.0  24.299999    0.0  24.100000
5852 2020-08-31 20:00:00    0.0  23.900000    0.0  24.200001
5853 2020-08-31 21:00:00    0.0  24.000000    0.0  24.600000
5854 2020-08-31 22:00:00    0.0  24.600000    0.0  24.900000
5855 2020-08-31 23:00:00    0.0  25.000000    0.0  26.900000

[2208 rows x 5 columns]

In [64]:
# 이화동기온 > 수영동기온 행 개수
answer = summer[summer['이화동기온'] > summer['수영동기온']]
print(len(answer))

1415

2. 이화동과 수영동의 최대강수량의 시간대를 각각 구하여라

In [93]:
answer1= df[df['이화동강수']==df['이화동강수'].max()]['time'].values
answer2= df.loc[df['수영동강수']==df['수영동강수'].max()].time.values
print(answer1)
print(answer2)

['2020-09-30T09:00:00.000000000']
['2020-07-23T12:00:00.000000000']