작업형 2
- X_train = 구매속성
- y_train = 성별 (0:여자, 1:남자)
- X_test = cust_id,구매속성 -> 성별예측

In [1]:
# 1. 데이터불러오기
import pandas as pd
X_train = pd.read_csv("X_train.csv", encoding = 'euc-kr')
y_train = pd.read_csv("y_train.csv")
test = pd.read_csv("X_test.csv",encoding = 'euc-kr')
cust_id = test.cust_id
test = test.drop(['cust_id'],axis=1)

In [2]:
# 2. 데이터합치기
trainDF = pd.merge(X_train, y_train)

In [3]:
# 3. 결측치 확인 
trainDF.isnull().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
gender        0
dtype: int64

In [4]:
# 4. 환불금액 살펴보기
pd.DataFrame(trainDF['환불금액'])

           환불금액
0     6860000.0
1      300000.0
2           NaN
3           NaN
4           NaN
...         ...
3495        NaN
3496  6049600.0
3497        NaN
3498        NaN
3499  5973000.0

[3500 rows x 1 columns]

In [5]:
# 5. 환불금액 NAN -> 0으로 결측치 채우기 
trainDF['환불금액'] = trainDF['환불금액'].fillna(0)
# test 도 챙겨주자!
test['환불금액'] = test['환불금액'].fillna(0)

In [6]:
# 6. 주구매상품, 주구매지점 범주형 변수 -> LabelEncoder 
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
trainDF.loc[:,['주구매상품','주구매지점']] = trainDF.loc[:,['주구매상품','주구매지점']].apply(le.fit_transform)
# test 도 챙겨주자! 
test.loc[:,['주구매상품','주구매지점']] = test.loc[:,['주구매상품','주구매지점']].apply(le.fit_transform)

In [7]:
# 7. 합친 데이터를 X, y로 다시 나누자
X = trainDF.drop(['cust_id','gender'], axis=1) # axis=1 안해주면 에러남. 열(column)을 드랍한다고 알려주기
y = pd.DataFrame(trainDF.gender) # series로 되는게 싫어서 애초에 데이터 프레임으로 바꿈

In [8]:
# 8. train test 나눠주자 (? 원래 있던 X_test는 마지막에 어떻게 검증하는지 모르겠음)
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = y, random_state=42)

In [9]:
# 9. 정규화 - MinMax/StandardScaler 중 선택 둘다해서 결과비교해보기
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)
X_scaled_train = scaler.transform(X_train)
X_scaled_test = scaler.transform(X_test)
test_scaled = scaler.transform(test)

In [10]:
# 10. 모델적용 RandomForestClassifier 분류문제니까
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
model = RandomForestClassifier()
model.fit(X_scaled_train, y_train)
pred_train = model.predict(X_scaled_train)
model.score(X_scaled_train, y_train)

/Users/yeona/opt/anaconda3/envs/pydatavenv/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

0.9992380952380953

In [36]:
from sklearn.metrics import confusion_matrix
confusion_train = confusion_matrix(y_train, pred_train)
print("오차행렬 train data \n", confusion_train)

오차행렬 train data
 [[1636    2]
 [   0  987]]

In [21]:
pd.DataFrame(X_scaled_test)

,0,1,2,3,4,5,6,7,8
0,0.012891,0.020121,0.000000,0.268293,0.478261,0.000000,0.000000,0.000000,0.000000
1,0.067832,0.024668,0.018114,0.000000,0.347826,0.091549,0.064998,0.718750,0.072289
2,0.036251,0.050325,0.000000,0.536585,0.652174,0.035211,0.094862,0.151515,0.156627
3,0.008134,0.004302,0.000000,0.219512,0.478261,0.000000,0.189723,0.000000,0.000000
4,0.012645,0.014785,0.013304,0.000000,0.478261,0.017606,0.055336,0.615385,0.180723
...,...,...,...,...,...,...,...,...,...
870,0.056279,0.027688,0.009721,0.121951,0.086957,0.088028,0.082092,0.140845,0.072289
871,0.050453,0.017709,0.000000,0.219512,0.260870,0.137324,0.196838,0.199029,0.048193
872,0.018310,0.030022,0.000000,0.000000,0.782609,0.323944,0.035191,0.320988,0.018072
873,0.040407,0.028877,0.000000,1.000000,0.478261,0.038732,0.075099,0.387097,0.150602
874,0.009364,0.008479,0.000000,1.000000,0.347826,0.000000,0.000000,1.000000,0.000000

In [37]:
# X_scaled_test, y_test 챙겨주자
pred_test = model.predict(X_scaled_test)
model.score(X_scaled_test, y_test)
accuracy = accuracy_score(y_test, pred_test)
print('랜덤 포레스트 정확도: {:.4f}'.format(accuracy))

랜덤 포레스트 정확도: 0.6251

In [38]:
confusion_test = confusion_matrix(y_test, pred_test)
print("오차행렬 test data \n", confusion_test)

오차행렬 test data
 [[447  99]
 [229 100]]

In [11]:
from sklearn.metrics import roc_auc_score ,roc_curve

lr_probs = model.predict_proba(X_scaled_test)
lr_auc = roc_auc_score(y_test, lr_probs[:,1])
lr_auc

0.6151452397653006

In [ ]:
# Grid Search
param_grid={'n_estimators': range(100, 1000, 100), 
            'max_features': ['auto', 'sqrt', 'log2']}
from sklearn.model_selection import GridSearchCV
grid_search=GridSearchCV(RandomForestClassifier(), param_grid, cv=5)
grid_search.fit(X_scaled_train, y_train)

print("Best Parameter: {}".format(grid_search.best_params_))
print("Best Score: {:.4f}".format(grid_search.best_score_))
print("TestSet Score: {:.4f}".format(grid_search.score(X_scaled_test, y_test)))

In [12]:
# 결과를 보면 train 데이터에 과적합 되었다는걸 알 수 있다.
#test = test.drop(['cust_id'],axis=1)
predict_gender = pd.DataFrame(model.predict_proba(test_scaled)[:,1], columns=['gender'])
predict_gender

      gender
0      0.420
1      0.230
2      0.290
3      0.350
4      0.340
...      ...
2477   0.570
2478   0.575
2479   0.620
2480   0.480
2481   0.380

[2482 rows x 1 columns]

In [13]:
# 제출할 데이터 합치기 
result = pd.concat([cust_id,predict_gender], axis=1)
result.head()

   cust_id  gender
0     3500    0.42
1     3501    0.23
2     3502    0.29
3     3503    0.35
4     3504    0.34

In [14]:
result.to_csv("RF.csv", index=False) ### 인덱스 중요!!

In [ ]:
pd.read_csv("git/DataAnalysis/RF.csv")

In [97]:
type(predict_gender)

numpy.ndarray